<%= form_with model: @excuse, url: excuses_path, local: true do |f|%>

  <div class="field">
    <%= f.label :reason, "理由" %><br />
    <%= f.text_field :reason, id:"excuse_reason" %>
  </div>

  <div class="field">
    <%= f.label :behind_time_id, "期間" %><br />
    <%= f.collection_select(:behind_time_id, BehindTime.all, :id, :name, {}, {class:"select-box", id:"excuse_time"}) %> 
  </div>

  <div class="field">
    <%= f.label :result, "結果" %><br />
    <%= f.text_field :result, id:"excuse_result" %>
  </div>

   <div class="tag-field", id='tag-field'>
    <%= f.label :name, "タグ" %><br />
    <%= f.text_field :name, id:"excuse_tag" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>